---
interface Props {
  bgHero: string;
}
---

<section class=`heroSection w-full h-screen bg-cover bg-no-repeat bg-center relative before:content-[''] before:w-full before:h-full before:absolute before:bg-[#0000006b]`>
  <div class="container mx-auto relative w-full h-full flex justify-center items-center flex-col gap-6">
    <h1 class="text-center size-4 w-[80%] mx-auto text-6xl h-auto font-bold">Bienvenido a <br /> ¡Qué lindo México!</h1> 
    <p class="text-center">Estamos trabajando arduamente para traerte algo increíble. <br /> Pronto podrás disfrutar de todos nuestros servicios y ofertas. <br /> Mientras tanto, hemos preparado un adelanto de lo que tenemos para ti.</p>
    <a href="/pdfs/mexico.pdf" target="_blank" class="bg-white rounded-sm cursor-pointer py-2 px-6 text-black font-bold transition hover:scale-105">Ver Paquetes</a>
  </div>
</section>

<style>
  .heroSection{
    background-image: url(/images/hero3.jpg);
  }
</style>