---
interface Props {
  bgHero: string;
}
---

<section class=`heroSection w-full h-screen bg-cover bg-no-repeat bg-center relative before:content-[''] before:w-full before:h-full before:absolute before:from-[#7c7c7c78] before:via-transparent before:to-black before:bg-gradient-to-b`>
  <div class="container relative h-full flex justify-center items-center flex-col gap-6  max-w-[1600px] w-11/12 mx-auto ">
    <h1 class="text-center size-4 w-full sm:max-w-[70%] md:max-w-[50%] mx-auto text-5xl lg:text-6xl h-auto font-bold">Descubre <br /> América Latina</h1> 
    <p class="text-center text-sm lg:text-base md:max-w-[70%] lg:max-w-[550px]">Explora la belleza y la cultura de México, Panamá, Colombia y Perú con nuestros tours personalizados. Desde las antiguas ruinas hasta las vibrantes ciudades modernas, vive experiencias únicas y crea recuerdos inolvidables.</p>
    <a href="#contact" class="uppercase bg-white rounded-sm cursor-pointer py-2 px-6 text-black font-bold transition hover:scale-105">Contáctanos</a>
  </div>
</section>

<style>
  .heroSection{
    background-image: url(/images/hero3.jpg);
  }
</style>