---
import Image from "astro/components/Image.astro";

---
<header class="fixed z-10 top-0 left-0 w-full py-2">
  <div class="container mx-auto relative">
    <Image src='/images/sitelogo.png' class='drop-shadow-md' alt='Logo del sitio' width="120" height="60" />
  </div>
</header>