---
import BaseHead from "../components/BaseHead.astro";
import Contact from "../components/Contact.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <BaseHead title="¡Qué lindo Méxcio!" />
  </head>
  <body>
    <SiteHeader />
    <slot />
    <Contact />
    <SiteFooter />
  </body>
</html>

<style is:global>
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-black h-full overflow-x-hidden;
  @apply text-white
}

#__next{
  @apply h-full;
}

html{
  @apply h-full;
  scroll-behavior: smooth;
}
</style>